<!DOCTYPE html>

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">

{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>blik | A demo page</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap-flex.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>
  <!-- App Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand page-scroll" href="/">blik</a>
        <button class="btn btn-primary btn-toggle hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fa fa-bars"></i></button>
        <!-- Clearfix with a utility class added to allow for better navbar responsiveness. -->
        <div class="clearfix hidden-md-up"></div>
        <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
            <ul class="nav navbar-nav float-md-right">
              <li class="nav-item active">
                <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/devices/">Devices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/locations/">Locations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown-toggle text-muted" class="panel-username" href="/user/{{ user.username }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/user/{{ user.username }}">Profile</a>
                  <a class="dropdown-item" href="/logout/">Logout</a>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  <header>
  </header>
  

  <!-- Content -->
    {% block content %}
    {% endblock %}

  <!-- jQuery -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

  <!-- Tether -->
  <script src="{% static 'vendor/tether/tether.min.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Theme JavaScript -->
  <script src="{% static 'js/agency.min.js' %}"></script>

  <!-- Custom JavaScript -->
  <script src="{% static 'js/app.js' %}"></script>
</body>

</html>
