{% extends 'app.html' %}
{% load staticfiles %}

  <!-- Content -->
  {% block content %}

  <section class="container" id="test">
    <h1>Your devices:</h1>
    <div class="row focus-panel">
      {% for device in devices %}
        <div class="col-md-4">
          <div class="focus-box">
          <a href="{% url 'device' device.id %}">
            <p>Device id: {{ device.id }}</p>
            <p>Location: {{ device.location }}</p>
            <p>Temperature: {{ device.temp }}°C</p>
            <p>Humidity: {{ device.hum }}%</p>
            <p>Pressure: {{ device.bar }}Pa</p>
          </a>
          <button device-id="{{ device.id }}" class="btn btn-mini btn-danger glyphicon glyphicon-search" type="button">
            {% if device.focus == False %}
              Not Focused
            {% else %}
              Focused
            {% endif %}
          </button>
        </div>
        </div>
      {% endfor %}
    </section>

    {% endblock %}
