{% extends 'app.html' %}
{% load staticfiles %}

  <!-- Content -->
  {% block content %}

  <div class="container" id="test">
    <h1>blik in the block</h1>
    <div class="row">
      {% for device in devices %}
        <div class="col-md-4">
          <a href="{% url 'device' device.id %}">
            <p>Device id: {{ device.device }}</p>
            <p>Time of data: {{ device.time_stamp }}</p>
            <p>Temperature: {{ device.temp }}°C</p>
            <p>Humidity: {{ device.hum }}%</p>
            <p>Pressure: {{ device.bar }}Pa</p>
          </a>
          <button id="focus" device-id="{{ device.id }}" class="btn btn-mini btn-danger glyphicon glyphicon-search" type="button">
            <!-- Doesn't toggle in the frontend! -->
            {% if device.focus == False %}
              Not Focused
            {% else %}
              Focused!
            {% endif %}
          </button>
          <br />
        </div>
      {% endfor %}
    </div>

    {% endblock %}
