{% extends 'app.html' %}
{% load staticfiles %}

  <!-- Content -->
  {% block content %}

  <section class="container" id="test">
    <h1>Your Locations:</h1>
    <div class="row focus-panel">
      {% for location in locations %}
        <div class="col-md-12">
          <a href="{% url 'location' location.slug %}">
            <div class="focus-box">
              <p>Name: {{ location.name }}</p>
              <p>Location: {{ device.location }}</p>
              <p>Current data for the device:</p>
              <p>Location: {{ device.current_loc }} (x,y,z)</p>
              <p>Temperature: {{ device.current_temp }}°C</p>
              <p>Humidity: {{ device.current_hum }}%</p>
              <p>Pressure: {{ device.current_bar }} Pa</p>
              <p>Bightness: {{ device.current_lux }} Lux</p>
              <button object-id="{{ location.id }}" class="btn btn-mini btn-danger glyphicon glyphicon-search location-focus" type="button">
                {% if location.focus == False %}
                  Not Focused
                {% else %}
                  Focused
                {% endif %}
              </button>
            </div>
          </a>
        </div>
      {% endfor %}
    </section>

    {% endblock %}
