{% extends 'app.html' %}
{% load staticfiles %}

  <!-- Content -->
  {% block content %}

  <section class="container" id="test">
    <h1>{{ location.name }}</h1>
    <div class="row focus-panel focus_box">
      <div class="col-md-12">
        <p>Devices at this location:</p>
      </div>
      {% for device in associated_devices %}
        <div class="col-md-4">
          <a href="{% url 'device' device.id %}">
            <div class="focus-box">
              <p>Device ID: {{ device.id }}</p>
              <p>Location: {{ device.location }}</p>
              <p>Current data for the device:</p>
              <p>Location: {{ device.current_loc }} (x,y,z)</p>
              <p>Temperature: {{ device.current_temp }}°C</p>
              <p>Humidity: {{ device.current_hum }}%</p>
              <p>Pressure: {{ device.current_bar }} Pa</p>
              <p>Bightness: {{ device.current_lux }} Lux</p>
            </div>
          </a>
        </div>
        {% endfor %}
      <div class="col-md-12">
        <div class="focus-box">
        <button object-id="{{ location.id }}" class="btn btn-mini btn-danger glyphicon glyphicon-search location-focus" type="button">
          {% if location.focus == False %}
            Not Focused
          {% else %}
            Focused
          {% endif %}
        </button>
      </div>
    </div>
  </section>

  {% endblock %}
